label{
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    padding: 3px;
    margin-top: 10px;
    justify-content: start;

}

input{
    padding: 5px;
   
}
input::placeholder{
    padding: 10px;
    text-transform: capitalize;
}

select{
    padding: 5px;
}

.signupform{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
       rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
        justify-content: left;
        text-align: start;
        background-image: url('https://img.freepik.com/free-vector/futuristic-background-design_23-2148503793.jpg?size=626&ext=jpg&ga=GA1.1.1722882923.1712206028&semt=ais_user');
       background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.5rem;
}       

.formfile{
    background-image: url('https://img.freepik.com/free-vector/futuristic-background-design_23-2148503793.jpg?size=626&ext=jpg&ga=GA1.1.1722882923.1712206028&semt=ais_user');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}